{
  "name": "amqsput",
  "version": "0.0.1",
  "description": "Example of running a TypeScript application",
  "main": "amqsput.ts",
  "license": "Apache-2.0",
  "dependencies": {
    "ibmmq": ">=2.1.2"
  },
  "devDependencies": {
    "@types/node": "^22.8.1",
    "typescript": "^5.4.5"
  }
}
